html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: cornflowerblue;
    color: #aaaaaa;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1148px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.movies--list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: -50px;
    margin-right: -50px;
    padding-bottom: 200px;
}

.movie {
    width: 230px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 2px;
}

.movie--img {
    display: block;
    width: 230px;
    height: 350px;
    object-fit: cover;
    border-radius: 2px;
    box-shadow: 0 7px 15px -1px #494848;
}

.movie:hover .movie--content {
    transform: scale(1);
    opacity: 1;
}

.movie--content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 270px;
    position: absolute;
    z-index: -1;
    left: -20px;
    top: 15px;
    padding-top: 350px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s cubic-bezier(0.55, 0.085, 0.32, 1.25);
}

.movie--name {
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
    color: #222222;
}

.movie--description {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
}

.movie--price {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.movie--price-sale {
    font-size: 18px;
    color: #29d629;
}

.movie--price-main {
    font-size: 14px;
    text-decoration: line-through;
}

.movie--buy-button {
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    background-color: #2f2e2e;
    padding: 10px;
    text-transform: uppercase;
}